<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un élève</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Suivi de notes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Classes</a>
                <a class="nav-item nav-link active" href="/student/getall">Eleves <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/teacher/getall">Professeur</a>
            </div>
        </div>
    </nav>
    <h3>Affecter un élève existant dans une classe</h3>
    <form th:action="@{/classe/associate}" th:object="${studentForm}" method="POST">
        <div class="form-group">
            <h4>Eleve</h4>
            <select class="form-select" aria-label="Default select example" name="studentid">
                <th:block th:each="student : ${students}">
                    <option th:value="${student.id}" th:text="${student.firstname} + ' ' + ${student.lastname}">One</option>
                </th:block>
            </select>

            <h4>Classe</h4>
            <select class="form-select" aria-label="Default select example" name="classid">
                <th:block th:each="cs : ${csl}">
                    <option th:value="${cs.id}" th:text="${cs.level}">One</option>
                </th:block>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>